body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  
}

/* #side {
  position: fixed;
  top: 50px;
  left: 0px;
  bottom: 0px;
  width: 80%;
  background-color: #f3f3f3;
  overflow-y: scroll;
  transition: all 0.3s ease;
} */


.ql-container.ql-snow {
  border: none !important;
  height: calc(100vh-100);
  border: 2px solid#EDEDED;
  margin-left: -1px;
  padding: 0;
}

.ql-toolbar.ql-snow { 
  border-right: none !important;
  border-left: none !important;
  border-top: none !important;
  border-bottom: 2px 
  solid#EDEDED !important;
}


#title {
  font-size: 35px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  
}

#subTitle {
  font-size: 12px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  color: #7b68ad
  
}

#topofPage {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 4px solid #7b68ad;
  border-bottom: 2px solid#EDEDED;
  flex-direction: column;
  position: relative;
  padding: 10px;
}


#icon {
  position: absolute;
  left: 0;
  margin-left: 15px;
  cursor: pointer;
}

#middle {
  display: flex;
}

#enableSide {
  cursor: pointer;
  border: none;
  background: none;
  font-size: x-large;
  font-weight: bolder;
}

#sideBox {
  display: flex;
  width: 17%;
  height: 100vh;
  flex-direction: column;
  border-right: 2px solid#EDEDED;
  position: relative;
}

#sideNoteMessage {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: #838483;
  margin-top: 25px
}

#sideTitle {
  display: flex;
  font-size: 26px;
  font-weight: 700;
  padding-bottom: 7px;
  padding-top: 7px;
  position: relative;
  border-bottom: 2px solid#EDEDED;

}

#addNote {
  cursor: pointer;
  border: none;
  background: none;
  font-size: x-large;
  right: 0;
  position: absolute;
  font-size: 20px;
  top: 0;
  bottom: 0;
  width: 50px;
}

#addNote:hover {
  color: white;
  background-color: #7b68ad;
}

.sideData {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid#EDEDED;
}

.sideData.active {
  flex-direction: column;
  border-bottom: 2px solid#EDEDED;
  background-color: #7b68ad;
  color: white;
}

.sideData:hover {
  background-color: #7b68ad;
  color: white;
}


#datetime {
  margin-left: 11px;
  font-size: small;
  color: #838483;
}

#noteName {
  margin-top: 3px;
  font-size: 20px;
  font-weight: 700;
  margin-left: 11px;
}



#mainBox {
  width: 83%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  transition: 0.5s ease;
}

#mainNoteMessage {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  align-items: center;
  color: #838483;
  margin-top: 350px;
  
}

#noteTop {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid#EDEDED;
  align-items: center;
  flex-direction: row;
}

#noteTopText {
  border: none;
  background-color: transparent;
  box-shadow: none;
  outline: none;
  font-size: 24px;
  padding-left: 10px;
  font-weight: 600;
}

#noteTopText::placeholder {
  color: black;
}



#newNoteContent {
  padding-left: 16px;
  font-size: 13px;
}


#currentDate {
  padding-left: 10px;
}

#calendarbutton {
  background: none;
  border: none;
  color: black;
}


#deleteNote {
  cursor: pointer;
  border: none;
  background-color: inherit;
  width: 60px;
  height: 60px;
  font-size: medium;
}

#deleteNote:hover {
  background-color: #7b68ad;
  color: white;
}

#save {
  cursor: pointer;
  border: none;
  background-color: inherit;
  width: 60px;
  height: 60px;
  font-size: medium;
}

#save:hover {
  background-color: #7b68ad;
  color: white;
}

#editNote {
  cursor: pointer;
  border: none;
  background-color: inherit;
  width: 60px;
  height: 60px;
  font-size: medium;
  
}

#editNote:hover {
  background-color: #7b68ad;
  color: white;
}


.noSelect {
  font-size: xx-large;
  color: grey;
}